@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --background: oklch(0.9508 0.0119 79.78); /* theme color */
  --foreground: oklch(0.1969 0.0067 78.16); /* theme color */
  --card: oklch(0.9683 0.0102 81.8); /* theme color */
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(0.9702 0 0);
  --popover-foreground: oklch(0.1867 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.5538 0.0188 70.35); /* theme color */
  --muted: oklch(0.8738 0.0191 75.31); /* theme color */
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.5742 0.1204 40.19); /* theme color */
  --accent-foreground: oklch(0.9909 0.0082 91.48);
  --destructive: oklch(0.641 0.2203 32.02);
  --border: oklch(0.922 0 0);
  --input: oklch(33.389% 0.00139 15.723);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.2158 0.0075 67.42); /* theme color */
  --foreground: oklch(0.9453 0.0136 78.26); /* theme color */
  --card: oklch(0.2553 0.0082 59.29); /* theme color */
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.1867 0 0);
  --popover-foreground: oklch(0.9702 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.734 0.0224 72.07); /* theme color */
  --muted: oklch(0.3687 0.0152 67.33); /* theme color */
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.6261 0.1289 40.28); /* theme color */
  --accent-foreground: oklch(0.1822 0 0);
  --destructive: oklch(0.641 0.2203 32.02);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50 box-border;
  }

  html,
  body {
    /* fix mobile rendering */
    @apply w-[100dvw] h-[100dvh];
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-main);
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
    font-family: var(--font-heading)
  }
}

@layer components {
  /* Improve File Panel width for mobile */
  [data-floating-ui-focusable] {
    @apply max-w-screen fixed transform-none;
  }

  /* Code block theme  */
  [data-content-type="codeBlock"],
  [data-content-type="codeBlock"] pre {
    @apply bg-[var(--foreground)] text-[var(--background)] rounded-md;
  }
}